*{
  box-sizing: border-box;
}

body{
  font-family: "Rubik", "Arial", sans-serif;
}

.container{
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.restangle{
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #F6F6F6;
}

.restangle-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading-img{
  margin-right: 41px;
}

.valuta-text{
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.valuta-text:not(:last-child){
  margin-right: 25px;
}

.valuta{
  color: #2959CE;
}

.search{
  padding: 15px 192px 13px  41px;
  border-radius: 60px;
  background-color: #fff;
  color:#8D8D8D;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 25px;
  border: 0;
  }

.link-lang-content{
  padding: 10px 3px;
  border-radius: 39px;
  background-color: #DCE6FF;
  margin-right: 25px;
}

.link-lang{
  padding: 7px;
  font-weight:400;
  font-size: 13px;
  line-height: 15px;
  text-decoration: none;
  border-radius: 50%;

}

.uz{
  background-color: #fff;
  color: #000000;
}

.ru{
    color: #A6A6A6;
}

.main-link{
  padding: 13px 20px;
  background-color: #7296EC;
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  text-decoration: none;
}

.sitenav{
  background-color: #fff;
  padding-top: 30px;
  padding-bottom: 40px;
  }

.sitenav-list{
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #D1D1D1;
  padding-left: 0;
 }

.sitenav-item{


}

.sitenav-link{
  color: #7F7F7F;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}
